<!DOCTYPE html>
<html>
<head>
  <title>SupportRequests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Support Requests", requests_path %>
  |
  <%= link_to "Create a Request", new_request_path %>

  <hr>

<%= yield %>

</body>
</html>
