<div style="border-radius: 15px; padding: 20px; border:5px solid black ; width: 15px; height: 15px">

</div>
<h3>Supporter</h3>
<hr>

<%= form_for @request do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <label>Department</label>
  <%= f.radio_button :department, "sales" %>
  <%= f.label :department, "Sales", :value => "sales" %>
  <%= f.radio_button :department, "marketing" %>
  <%= f.label :department, "Marketing", :value => "marketing" %>
  <%= f.radio_button :department, "technical" %>
  <%= f.label :department, "Technical", :value => "technical" %>
</div>
<div>
  <%= f.label :message %>
  <%= f.text_area :message %>
</div>
<%= f.submit "Save" %>

<% end %>
